:root {
  --primary-c1: hsl(172, 67%, 45%);
  --neutral-c1: hsl(183, 100%, 15%);
  --neutral-c2: hsl(186, 14%, 43%);
  --neutral-c3: hsl(184, 14%, 56%);
  --neutral-c4: hsl(185, 41%, 84%);
  --neutral-c5: hsl(189, 41%, 97%);
  --neutral-c6: hsl(0, 0%, 100%);
}